body{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Helvetica, Verdana, Arial, sans-serif;
}
.values{
    width: 25px;
}
#t{
    background-color: #8ECEFF;
    border-radius: 32px;
    padding-right: 8px;
}
.p{
    width: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid black;
    background-color: #FCFCFC;
}
#graph{
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
}
.remove{
    margin-left: 4px;
}
#summary{
    text-align: center;
    font-size: 14pt;
    color: #668;
}